[Unit]
Description=Google Drive (rclone)
AssertPathIsDirectory=/mnt/odrive

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount odrive: /mnt/odrive \
          --allow-non-empty \
          --allow-other \
          --dir-cache-time 1000h \
          --log-level INFO \
          --log-file /mnt/rclone.log \
          --poll-interval 15s \
          --umask 002 \
          --user-agent iasdoih2h3f88293fhe2pdj091jd2 \
          --cache-dir=/mnt/rclone-cache \
          --vfs-cache-mode full \
          --vfs-cache-max-size 1G \
          --vfs-cache-max-age 336h
ExecStop=/bin/fusermount -uz /mnt/odrive
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
